p{
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    border: 1px  solid rgba(33, 33, 33, 0.2);
    padding: 10px;
    width: 200px;
}

.item:not(:last-child){
    margin-bottom: 10px;
}

.avatar {
    margin-right: 15px;
}

.name {
    font-weight: 700;
}

.status {
   margin-right: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.statusOn {
    composes: status;
    background-color: green;
}

.statusOff {
    composes: status;
    background-color: red;
}